
body{
    background-color: rgb(15, 15, 15);
    margin: 0;
    width: 100%;
}

nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;/*Change of line when there's no space*/
        background-color: rgb(180, 141, 10);
    }

    nav h1{
        display: flex;
        align-items: right;
    }
    nav a {
        text-decoration: none;
        font-family: 'Playfair Display', sans-serif;
        color: black;
        font-weight: bold;
        
    }
    nav a:hover{
        color:rgb(110, 110, 0)
    }

    .Hero{
        background-image: url("images/hero.jpg");
        background-position: center;
        background-size: cover;
        min-height: 400px; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100vh;
        color:white;

    }
    .text-hero{
        text-align: center;
    }
    .hero-img{
    width: 450px;
    height: 550px;
    object-fit: cover;
    border-radius: 30px;
    }
    #services{
        color: white;
        background-color: rgb(12, 12, 12);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px; /*espacio entre divs*/
        justify-content: center;
        place-items: center;
        width: 100%;
        height: 100vh;
    }

    #services h2{
        display: grid;
        grid-column: 1/ -1;
        font-size: 70px;
        font-weight: bold;
        justify-content: center;
        font-family: "Oswald", sans-serif; 
    }

    #services div{
        border: 1px solid rgb(192, 192, 192);
        padding: 20px;
        text-align: center;
    }
    #services div img{
        width: 150px;
        height: 200px;
        border-radius: 2%;
    }
    #services div p{
        font-weight: bold;
    }
    